@{
    Layout = "../Shared/_Asset_Layout.cshtml";
}

<h1> List of Asset</h1>

<button type="button" id="btnadd" class="btn btn-primary" onclick="clearData();$('#myModal').modal('show');">✚</button>
<div class="mt-5" id="responseMessage"></div>
<div class="container mt-4">
    <table class="table table-striped" id="assetTable">
        <thead class="thead-dark">
            <tr>
                <th>Asset-ID</th>
                <th>Asset-Name</th>
                <th>Description</th>
                <th>CupboardID</th>
                <th>Image</th>
                <th>Tag</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@* Modal For adding *@
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Asset Form </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="$('#myModal').modal('hide');">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <form enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="assetID" value="0">
                    <input type="hidden" id="image" value="">

                    <div class="mt-3">
                        <label class="control-label mt-1" for="name">Asset Name:</label>
                        <div class="mt-1">
                            <input type="text" class="form-control" id="name" placeholder="Enter Asset name">
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="control-label mt-1" for="description">Description:</label>
                        <div class="mt-1">
                            <input type="text" class="form-control" id="description"
                                placeholder="Enter description for asset">
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="control-label mt-1" for="group">Room:</label>
                        <div class="mt-1">
                            <select id="room" class="form-control">
                                <option value="0">Select Room</option>

                            </select>
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="control-label mt-1" for="group">Cupboard:</label>
                        <div class="mt-1">
                            <select id="cupboard" class="form-control">
                                <option value="0">Select Cupboard</option>

                            </select>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="control-label mt-1" for="image">Image:</label>
                        <div class="mt-1">
                            <input type="file" class="form-control" id="Image">
                            <div id="img"></div>
                        </div>
                    </div>
                    <div id="responseModalMessage"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        onclick="$('#myModal').modal('hide');">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveData()" id="btnSave">Submit</button>
                </div>
            </form>


        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("Asset List Document Loaded successfully")
            loadData();

        })

        $('#btnadd').click(function(){
            loadRooms();
        })

        $('#room').change(function(){
            var selectedRoom = $(this).val();
            loadCupboards(selectedRoom);
        });

        function loadCupboards(selectedRoom) {
            $.ajax({
                url: "http://localhost:5273/GetAllcupboardsByID" + "?id=" + selectedRoom,
                type:"GET",
                success: function(response){
                    console.log("Inside success of loadcupboards");
                    $('#cupboard').empty();
                    $('#cupboard').append($('<option>',{
                        value:0,
                        text:'Select Cupboard'
                    }));

                    response.data.forEach(function(cup){
                        $('#cupboard').append($('<option>',{
                            value: cup.c_CupboardID,
                            text: cup.c_CupboardName
                        }));
                    });
                    console.log("Completed loadcupboards success");
                },
                error:function(xhr,status,error){
                    console.log("Error Occured in loadcupboards:",xhr);
                }
            })
        }

        function loadData() {
            var user = JSON.parse(sessionStorage.getItem("user"));
            $.ajax({

                url: "http://localhost:5273/GetAll" + "?id=" + user.c_UserId,
                type: 'GET',
                success: function (response) {
                    console.log("response : ", response);
                    if (response.success) {
                        console.log("In successs of login");
                        const tableBody = $('#assetTable tbody');
                        tableBody.empty();

                        response.data.forEach(function (asset) {
                            const row = `<tr>
                                                            <th>${asset.c_assetsId}</th>
                                                            <th>${asset.c_assetsName}</th>
                                                            <th>${asset.c_Description}</th>
                                                            <th>${asset.c_cupboardID}</th>

                                                            <td>
                                                                    ${asset.c_assetImage ?
                                    `<img src="/asset_images/${asset.c_assetImage}" alt="Image" width="50" height="50">` :
                                    '-'
                                }
                                                            </td>                      
                                                            <th>${asset.c_tags}</th>
                                                            <td><button type="button" class="btn btn-primary"
                                                            onclick="editData(${asset.c_assetsId})" >Edit</button></td>
                                                            <td><button type="button" class="btn btn-danger"
                                                                onclick="deleteData(${asset.c_assetsId},'${asset.c_assetsName}')" >Delete</button></td>
                                                        </tr>`;
                            tableBody.append(row);
                        });
                    }
                },
                error: function () {
                    console.log("Error Occured in asset List html");
                }
            })
        }

        function loadRooms() {
            $.ajax({
                url: "http://localhost:5273/GetAllRooms",
                type: 'GET',
                success: function (response) {
                    console.log("Inside success of loadRooms");
                    $('#room').empty();
                    $('#room').append($('<option>', {
                        value: 0,
                        text: 'Select Room'
                    }));

                    response.data.forEach(function (room) {
                        $('#room').append($('<option>', {
                            value: room.c_RoomId,
                            text: room.c_RoomName
                        }));
                    });
                    console.log("Completed success of loadRooms");

                },
                error: function (xhr,status,error) {
                    console.log("Error Occured in loadrooms:",xhr);
                }
            })
        }

        function clearData() {
            function clearData() {
                $('#contactid').val(0);
                $('#name').val('');
                $('#description').val('');
                $('#room').val('');
                $('#cupboard').val('');
                $('.group-checkbox').each(function () {
                    $(this).prop('checked', false);
                });
            }
        }

        function saveData() {
            var user = JSON.parse(sessionStorage.getItem("user"));
            var formdata = new FormData();
            formdata.append("c_assetsName",$('#name').val());
            formdata.append("c_Description",$('#description').val());
            formdata.append("c_cupboardID",$('#cupboard').val());
            formdata.append("c_tags","Tags");
            formdata.append("c_assetImage", "image");
            formdata.append("c_userID",user.c_UserId);

            var imageFile = $('#Image')[0].files[0];
            if(imageFile){
                formdata.append("c_assetPicture",imageFile);
            }

            $.ajax({
                url: "http://localhost:5273/AddAsset",
                type:"POST",
                data:formdata,
                contentType:false,
                processData:false,
                success:function(response){
                    console.log("Inside success of saveData:",response);

                    $("#responseModalMessage").html('<div class="alert alert-success">Asset Created Successfully!</div>');

                    clearData();
                    setTimeout(function(){
                        $('#myModal').modal('hide')
                    },2000);
                    loadData();
                    console.log("Completed success of saveData");
                },
                error(xhr,status,error){
                    console.log("Error Occured in saveData function:",xhr);
                }
            })
        }
    </script>
}